{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
	.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	}
	.form-signin .checkbox {
	font-weight: 400;
	}
	.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
	}
	.form-signin .form-control:focus {
	z-index: 2;
	}
	.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}
	.h3  {
		text-align: center;
	}
</style>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
			<form class="form-signin" method="post">
				{% csrf_token %}
				<div class="d-flex flex-column pb-3">
					<img class="img-fluid mx-auto d-block" src="{% static 'MRL_WEB_LOGO_1024.png' %}" alt="MRL logo image" width="1010" height="268">
				</div>
				<h1 class="h3 mb-3 font-weight-normal">CUP Reports</h1>
				<input type="username" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

				{% for field in login_form %}
					<p>
						{% for error in field.errors %}
							<p style="color: red;">{{error}}</p>
						{% endfor %}
					</p>
				{% endfor %}
				
				{% if login_form.non_field_errors %}
					<div style="color:red;">
						<p>{{login_form.non_field_errors}}</p>
					</div>
				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
</div>
</div>
</div>

{% endblock content %}